
.App {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column; /* Align elements vertically */
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.Notepad {
  background-image: url('./images/notepad2.png');
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 20px;
}

.resetButton {
  position: absolute;
  bottom: -2px; /* Adjust the bottom distance as needed */
  right: 13px; /* Adjust the right distance as needed */
  margin: 20px auto; /* Adjust the margin as needed to center the button */
  padding: 10px 20px;
  width: 30px;
  background-color: #ffffff; /* Set your desired background color */
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.resetButton:hover {
  background-color: #f0f0f0; /* Change color on hover if desired */
}

fieldset {
  display: flex;
  width: 480px;
  height: 150px;
  padding: 16px;
  border: none;
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 80px; /* Adjust the height as needed */
  width: 400px;
  padding: 8px;
  resize: vertical; /* Allow vertical resizing */
}


sup {
  color: red;
  top: -2px;
  font-size: 95%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

input,
select {
  border-radius: 4px;
  height: 32px;
  padding: 0 8px;
}

.Field {
  position: relative;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.FieldError {
  position: relative;
  bottom: -10px;
  color: red;
  font-size: 12px;
}

.Row {
  display: flex;
  flex-direction: row;
}


.factButton {
  display: inline-block;
  height: 70px;
  width: 70px;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  font-size: 24px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Small shadow */
}

.factButton:hover {
  background-color: #f5f5f5; /* Slightly different color on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

/* Additional styles to ensure buttons are in one row */
.factButtonsContainer {
  display: flex;
  justify-content: space-around; /* Adjust this based on your design */
}


.factForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  font-size: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Small shadow */
}

.factForm:hover {
  background-color: #f5f5f5; /* Slightly different color on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
.factForm label {
  margin-bottom: 10px;
}

.factForm input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.factForm button {
  position: relative;
  bottom: -2px;
  right: 13px;
  border: none;
  width: 40px;
  border-radius: 10px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Small shadow */
}

.factForm button:hover {
  background-color: #f5f5f5; /* Slightly different color on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}

ul {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

li {
  padding-left: 20px;
  font-size: 1.2em;
  margin-bottom: 15px;
}

li::before {
  content: "✏️";
  margin-right: 10px;
}

.customLink {
  text-decoration: none; /* Remove underline */
  color: black; /* Set the color to your preferred value */
}

.customLink:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}
